@font-face {
  font-family: "Suisse";
  src: url("../../fonts/SuisseIntl-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Suisse";
  src: url("../../fonts/SuisseIntl-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Suisse";
  src: url("../../fonts/SuisseIntl-Book.otf");
  font-weight: 500;
}
/* @font-face {
    font-family: "Suisse";
    src: url("../../font/SuisseIntl-Medium.otf");
    font-weight: 550;
  } */
@font-face {
  font-family: "Suisse";
  src: url("../../fonts/SuisseIntl-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "GT Super Display";
  src: url("../../fonts/GT-Super-Display-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "GT Super Display";
  src: url("../../fonts/GT-Super-Display-Regular-Italic.woff");
  font-style: italic;
  font-weight: 400;
}

/*
==============================
Typography
==============================
*/

$font-body: "Suisse", Helvetica, Arial, sans-serif;
