@use "@s/base" as *;

.filter {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
}

.categories-list {
  display: flex;
  gap: 8px;
  overflow: auto;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-list li {
  width: 100%;
  min-width: 160px;
  text-align: center;
  font-family: "Suisse";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  &:global(.active) {
    & a {
      border-bottom: 1px solid black;
    }
  }

  @media (--md) {
    border: 1px solid transparent;
    color: black;
    background-color: initial;
  }
}
.categories-list a {
  padding-bottom: 4px;
  width: fit-content;
  display: block;
  margin-inline: auto;
}
